<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Create Invoice
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--height: 250px;">
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;width: 100%;">
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="borrowed-padding">
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="new-budget-padding">
        <ion-label position="fixed">Service Date</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="new-budget-padding">
        <ion-label position="fixed">Due Date</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="borrowed-padding">
        <ion-label position="floating">Discount</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="borrowed-padding">
        <ion-label position="floating">Cost</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="borrowed-padding">
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding" style="width: 80%;">
      <ion-item class="new-budget-padding">
        <ion-label>VAT</ion-label>
        <ion-select interface="popover" style="width: 80%;">
          <ion-select-option disabled value="nes">None</ion-select-option>
          <ion-select-option value="week">Card</ion-select-option>
          <ion-select-option value="month">Cheque</ion-select-option>
          <ion-select-option value="year">Cash</ion-select-option>
          <ion-select-option value="one-time">IBFT</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="ion-padding">
      <ion-button (click)="sendData()" [disabled]="repayInput.invalid">Submit</ion-button>

    </div>

  </div>
</ion-content>