<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Add Salary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--height: 250px;">
  <div
    style="display: flex; justify-content: center; align-items: center; flex-direction: column;width: 100%;padding: 0 20px;">
    <form novalidate [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="ion-padding" >
        <ion-item class="borrowed-padding">
          <ion-label position="floating">Name</ion-label>
          <ion-input autofocus="true" type="text" formControlName="employeeName"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding" >
        <ion-item class="borrowed-padding">
          <ion-label position="floating">Job Description</ion-label>
          <ion-input type="text" formControlName="jobDescription"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding" >
        <ion-item class="borrowed-padding">
          <ion-label position="floating">Amount in PKR</ion-label>
          <ion-input type="number" formControlName="amount"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding" >
        <ion-item class="new-budget-padding">
          <ion-label position="fixed">Date</ion-label>
          <ion-input type="date" formControlName="date"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding" style="display: flex; justify-content: center;">
        <ion-button type="submit" [disabled]="Form.invalid">Submit</ion-button>
      </div>
    </form>

  </div>
</ion-content>